.background-contact{
    background-color: black;
    background-image: url(../assets/background.png) ;
    background-size:cover;
    background-position: center;
    height: 100vh;
    scroll-snap-align: start; 
    overflow: hidden;
}



.text-container-contact{
  margin: 0 8rem;
  height: 100vh;
}

.contact-img{
  cursor: pointer;
}

/* Media query pentru ecrane cu lățimea maximă de 768px */
@media only screen and (max-width: 992px) {
  .text-container-contact{
    margin: 0 4rem;
    
  }
  .contatc-container-info{
    gap: 2rem;
  }

  .contact-img{
    width: 2rem;
  }
}

/* Media query pentru ecrane cu lățimea maximă de 486px */
@media only screen and (max-width: 486px) {

  .text-container-contact{
    margin: 0 1rem;
    
  }

  .background-contact{
    height: 110vh;
}

}
