.background-projects{
    background-color: black;
    background-image: url(../assets/background.png) ;
    background-size:cover;
    background-position: center;

    height: 100vh;
    transform: rotate(180deg);
}

.container-project{
  transform: rotate(180deg);
  padding-bottom: 8rem;
}

.mac-img{
  width: 90%;
}

.text-project-container{
  margin: 0rem 8rem;
}

.projects-text{
  font-size: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .projects-text{
    font-size: 1em;
  }
  
 .main-project-container{
  gap: 3rem;
 }

}

/* Media query pentru ecrane cu lățimea maximă de 486px */
@media only screen and (max-width: 486px) {
  
}
